<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="card" style="width: 18rem;">
    <img src="https://2rdnmg1qbg403gumla1v9i2h-wpengine.netdna-ssl.com/wp-content/uploads/sites/3/2021/07/HealthCoach-1270225737-770x533-1-650x428.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3>Yourself</h3>
      <p class="card-text"><%= params[:answer] %></p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://blog.u-formation.fr/wp-content/uploads/2020/11/lieux-coach-sportif.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3>Coach</h3>
      <p class="card-text"><%= @answer %></p>
    </div>
  </div>
</div>
